<!-- Hidden element to store year total for AJAX updates -->
<div id="calendar-year-total" data-year-total="{{ totalYearDividends }}" class="hidden"></div>

{% for key, value in dividendsCalendar.calendar.items %}
<div class="col-sm-4 border">
    <div class="row mt-1 fs-5">
        {{ key }}
    </div>
    <div class="row m-2">
        <div class="col text-start">
            {{ value.payouts }} payouts
        </div>
        <div class="col-md-auto text-end border rounded-pill pill-primary">
            {{ value.formatedTotal }}
        </div>
    </div>
    {% if value.payouts >= 0 %}
        {% for day, dividends in value.days.items %}
            {% for key, dividend in dividends.items %}
                {% if dividend.is_announced %}
                    <div class="row m-2 border rounded-pill upcoming-dividends"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="info-tooltip"
                         data-bs-title="{{ dividend.tooltip }}">
                {% elif dividend.is_forecasted %}
                    <div class="row m-2 border rounded-pill forecasted-dividends"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="info-tooltip"
                         data-bs-title="{{ dividend.tooltip }}">
                {% elif dividend.is_ex_dividend %}
                    <div class="row m-2 border rounded-pill ex_dividend-dividends"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="info-tooltip"
                         data-bs-title="{{ dividend.tooltip }}">
                {% else %}
                    <div class="row m-2 border rounded-pill dividends"
                         data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="info-tooltip"
                         data-bs-title="{{ dividend.tooltip }}">
                {% endif %}
                    <div class="col-sm-1 text-start">
                        {{ day }}
                    </div>
                    <div class="col-sm-8 text-truncate">
                        {{ dividend.formatted_name }}
                    </div>
                    {% if not dividend.is_ex_dividend %}
                    <div class="col-sm-3 text-end">
                        {{ dividend.formated_net_amount }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>

{% if forloop.counter|divisibleby:3 %}
<!-- Force next columns to break to the new line at md breakpoint and up -->
<div class="w-100 d-none d-md-block"></div>
{% endif %}
{% endfor %}
