{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
  <!-- ChartJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/@seahsky/chartjs-plugin-autocolors"></script>

  <div class="container-fluid row-gap-5">
    <div class="row border border-primary-subtle bg-light rounded mb-3">
      <div class="row mt-2">
          <div class="col">
              <h5 class="mb-1">Portfolio Value</h5>
          </div>
          <div class="col float-end text-end">
            <div class="btn-group btn-group-sm" role="group">
              <input type="radio" class="btn-check" name="portfolioTime" id="YTDButton" autocomplete="off">
              <label class="btn btn-outline-primary" for="YTDButton">YTD</label>

              <input type="radio" class="btn-check" name="portfolioTime" id="1YButton" autocomplete="off">
              <label class="btn btn-outline-primary" for="1YButton">1Y</label>

              <input type="radio" class="btn-check" name="portfolioTime" id="3YButton" autocomplete="off">
              <label class="btn btn-outline-primary" for="3YButton">3Y</label>

              <input type="radio" class="btn-check" name="portfolioTime" id="5YButton" autocomplete="off">
              <label class="btn btn-outline-primary" for="5YButton">5Y</label>
          
              <input type="radio" class="btn-check" name="portfolioTime" id="maxButton" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="maxButton">MAX</label>
            </div>
        </div>
      </div>
      <div class="row w-100">
        <canvas id="growth-chart"></canvas>
      </div>
    </div>
    <div class="row border border-primary-subtle bg-light rounded mb-3">
      <div class="col-sm"></div>
      <div class="col-sm" style="position: relative; height:40vh">
        <canvas id="sectors-chart"></canvas>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  <script>
    const TimeRanges = {
      YTD: "YTD",
      Y1: "1Y",
      Y3: "3Y",
      Y5: "5Y",
      MAX: "MAX",
    }

    $('#YTDButton').on('click', function () {
        drawPortfolioGrowth(TimeRanges.YTD)
    })
    $('#1YButton').on('click', function () {
        drawPortfolioGrowth(TimeRanges.Y1)
    })
    $('#3YButton').on('click', function () {
        drawPortfolioGrowth(TimeRanges.Y3)
    })
    $('#5YButton').on('click', function () {
        drawPortfolioGrowth(TimeRanges.Y5)
    })
    $('#maxButton').on('click', function () {
        drawPortfolioGrowth(TimeRanges.MAX)
    })
    // Customize colors with https://www.npmjs.com/package/@seahsky/chartjs-plugin-autocolors#customize
    const autocolors = window['@seahsky/chartjs-plugin-autocolors'];

    function getTimeRangeConfig(timeRange, minimumDate) {
      const config = {
        minDate: minimumDate,
        maxDate: new Date(),
        timeUnit: 'month',
        timeRound: 'day'
      }
      switch(timeRange) {
        case TimeRanges.YTD:
          config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear(), 0, 1)])
          config.timeUnit = 'week'
        break
        case TimeRanges.Y1:
          config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear() - 1, 0, 1)])
          config.timeUnit = 'week'
        break
        case TimeRanges.Y3:
          config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear() - 3, 0, 1)])
          config.timeUnit = 'month'
        break
        case TimeRanges.Y5: 
          config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear() - 5, 0, 1)])
          config.timeUnit = 'month'
        break
        case TimeRanges.MAX:
          config.minDate = minimumDate
          config.timeUnit = 'month'
        break
      }
      return config
    }

    function drawPortfolioGrowth(timeRange) {
      const dataGrowth = {
        datasets: [{
              label: 'Cash Contributions',
              data: {{ growth.cash_contributions|safe }},
              stepped: true,
          },
          {
              label: 'Portfolio Growth',
              data: {{ growth.portfolio_growth|safe }},
              stepped: false,
              lineTension: 0.5
          }],
      };
      const minimumDate = new Date('{{ growth.portfolio_growth.0.x }}')

      const timeRanteConfig = getTimeRangeConfig(timeRange, minimumDate)

      const configGrowth = {
        type: 'line',
        data: dataGrowth,
        options: {
          responsive: true,
          scales: {
              x: {
                  type: 'time',
                  min: timeRanteConfig.minDate,
                  max: timeRanteConfig.maxDate,
                  time: {
                      unit: timeRanteConfig.timeUnit,
                      round: timeRanteConfig.timeRound,
                  },
              },
              y: {
                beginAtZero: true,
              }
          },
          elements: {
            point: {
              radius: 0
            }
          },
          plugins: {
            legend: {
              position: 'top',
            },
          }
        },
      };
      let chartStatus = Chart.getChart("growth-chart"); // <canvas> id
      if (chartStatus != undefined) {
          chartStatus.destroy();
      }

      let growthChart = new Chart(document.getElementById("growth-chart").getContext("2d"), configGrowth);
    }

    function drawSectorPositions() {
      let currencySymbol = "{{ sectors.currencySymbol }}";
      let valuesDict = [
        [
        {% for stock in sectors.stocks.labels %}
          {
            "label" : "{{ stock }}",
            "value" : {{ sectors.stocks.values|index:forloop.counter0 }},
          },
        {% endfor %}
        ], [
        {% for sector in sectors.sectors.labels %}
          {
            "label" : "{{ sector }}",
            "value" : {{ sectors.sectors.values|index:forloop.counter0 }},
          },
        {% endfor %}
        ],
      ];
      const dataSectors = {
        labels: {{ sectors.sectors.labels|safe }},
        datasets: [
          {
            data: {{ sectors.stocks.values }},
            borderWidth: 1,
          },
          {
            data: {{ sectors.sectors.values }},
            borderWidth: 2,
          }
        ]
      };

      const configSectors = {
        type: 'doughnut',
        data: dataSectors,
        plugins: [
          autocolors
        ],
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
            },
            tooltip: {
              callbacks: {
                label: function(context) {
                  var stockValue = valuesDict[context.datasetIndex][context.dataIndex].value;
                  stockValue = Intl.NumberFormat().format(stockValue);
                  return valuesDict[context.datasetIndex][context.dataIndex].label + ': ' + currencySymbol + ' ' + stockValue;
                }
              }
            },
            title: {
              display: true,
              text: 'Sector Position Sizes',
              font: {
                size: 20
              }
            },
            autocolors: {
              mode: 'data',
              offset: 5,
            }
          }
        },
      };

      let doughnutSectorsChart = new Chart(document.getElementById("sectors-chart").getContext("2d"), configSectors);
    }

    drawPortfolioGrowth(TimeRanges.MAX)
    drawSectorPositions()
  </script>
{% endblock %}