{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
  <h4 class="mb-3">Dashboard</h4>
  <div id="container">
    <div class="row">
      <canvas id="growth-chart"></canvas>
    </div>
    <div class="row">
      <canvas id="sectors-chart"></canvas>
    </div>
  </div>

  <!-- ChartJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/@seahsky/chartjs-plugin-autocolors"></script>

  <script>
    // Customize colors with https://www.npmjs.com/package/@seahsky/chartjs-plugin-autocolors#customize
    const autocolors = window['@seahsky/chartjs-plugin-autocolors'];

    let currencySymbol = "{{ sectors.currencySymbol }}";
    let valuesDict = [
      [
      {% for stock in sectors.stocks.labels %}
        {
          "label" : "{{ stock }}",
          "value" : {{ sectors.stocks.values|index:forloop.counter0 }},
        },
      {% endfor %}
      ], [
      {% for sector in sectors.sectors.labels %}
        {
          "label" : "{{ sector }}",
          "value" : {{ sectors.sectors.values|index:forloop.counter0 }},
        },
      {% endfor %}
      ],
    ];

    const dataGrowth = {
      datasets: [{
            label: 'Cash Contributions',
            data: {{ growth.cash_contributions|safe }},
            stepped: true,
        }],
    };

    const configGrowth = {
      type: 'line',
      data: dataGrowth,
      options: {
        responsive: true,
        scales: {
            x: {
                type: 'time',
                max: new Date(),
                time: {
                    unit: 'month',
                    round: 'day',
                }
            },
            y: {
						  beginAtZero: true,
					  }
        },
        plugins: {
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Portfolio Growth'
          }
        }
      },
    };

    let growthChart = new Chart(document.getElementById("growth-chart").getContext("2d"), configGrowth);

    const dataSectors = {
      labels: {{ sectors.sectors.labels|safe }},
      datasets: [
        {
          data: {{ sectors.stocks.values }},
          borderWidth: 1,
        },
        {
          data: {{ sectors.sectors.values }},
          borderWidth: 2,
        }
      ]
    };

    const configSectors = {
      type: 'doughnut',
      data: dataSectors,
      plugins: [
        autocolors
      ],
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
          },
          tooltip: {
            callbacks: {
              label: function(context) {
                var stockValue = valuesDict[context.datasetIndex][context.dataIndex].value;
                stockValue = Intl.NumberFormat().format(stockValue);
                return valuesDict[context.datasetIndex][context.dataIndex].label + ': ' + currencySymbol + ' ' + stockValue;
              }
            }
          },
          title: {
            display: true,
            text: 'Sector Position Sizes',
            font: {
              size: 20
            }
          },
          autocolors: {
            mode: 'data',
            offset: 5,
          }
        }
      },
    };

    let doughnutSectorsChart = new Chart(document.getElementById("sectors-chart").getContext("2d"), configSectors);
  </script>
{% endblock %}