{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
  
<div class="container-fluid row-gap-5">
    <div class="row border border-primary-subtle bg-light rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <h5 class="mb-1">Divident Cash Flow</h5>
            </div>
            <div class="col float-end text-end">
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="yearButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="yearButton">Year</label>
                
                    <input type="radio" class="btn-check" name="btnradio" id="monthButton" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="monthButton">Month</label>
                </div>
            </div>
        </div>
        <div id="container" style="width: 100%;">
            <canvas id="dividends-growth"></canvas>
        </div>
    </div>
    <div class="row border border-primary-subtle bg-light rounded mb-3" style="background-color:#dbf5ff">
        <div class="row"><h5 class="mb-1">Dividends Overview</h5></div>
        {% for key, value in dividendsCalendar.items %}
            <div class="col-sm-4 border">
                <div class="row-sm mt-1 fs-5">
                    {{ key }}
                </div>
                <div class="row m-2">
                    <div class="col text-left">
                        {{ value.payouts }} payouts
                    </div>
                    <div class="col-md-auto text-right border rounded-pill" style="background-color: #7386D5; color: white">
                        {{ value.formatedTotal }}
                    </div>
                </div>
                {% if value.payouts > 0 %}
                    <!-- When there's no Payout, there is no Day field, so skip the condition to avoid a silent error -->
                    {% for day, dividends in value.days.items %}
                        {% for key, dividend in dividends.items %}
                            {% if dividend.change != 0 %}
                                <div class="row m-2 border rounded-pill" style="background-color: #A6B9FF">
                                    <div class="col-sm-1 text-left">
                                        {{ day }}
                                    </div>
                                    <div class="col-sm-8 text-truncate">
                                        {{ dividend.stockName }}
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        {{ dividend.formatedChange }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>

            {% if forloop.counter|divisibleby:3 %}
                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<script>
    // Customize colors with https://www.npmjs.com/package/@seahsky/chartjs-plugin-autocolors#customize
    const autocolors = window['chartjs-plugin-autocolors'];

    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    const data = {
        labels: months,
        datasets: [
            {% for key, value in dividendsGrowth.items %}
            {
                label: "{{ key }}",
                data: {{ value }},
                borderWidth: 1
            },
            {% endfor %}
        ]
    };
    const config = {
        type: 'bar',
        data: data,
        plugins: [
            autocolors
        ],
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                }
            }
        },
    };
    let chart = new Chart(document.getElementById("dividends-growth").getContext("2d"), config);
</script>
{% endblock %}