{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<h4 class="mb-3">Dividends</h4>
<div class="container-fluid">
    <div class="row"" style="background-color:#dbf5ff">
        {% for key, value in dividends.items %}
            <div class="col-sm border">
                <div class="row-sm mt-1 fs-5">
                    {{ key }}
                </div>
                <div class="row m-2">
                    <div class="col text-left">
                        {{ value.payouts }} payouts
                    </div>
                    <div class="col-md-auto text-right border rounded-pill" style="background-color: #7386D5; color: white">
                        {{ value.formatedTotal }}
                    </div>
                </div>
                {% for day, dividends in value.days.items %}
                    {% for key, dividend in dividends.items %}
                        {% if dividend.change != 0 %}
                            <div class="row m-2 border rounded-pill" style="background-color: #A6B9FF">
                                <div class="col-sm-1 text-left">
                                    {{ day }}
                                </div>
                                <div class="col-sm-8 text-truncate">
                                    {{ dividend.stockName }}
                                </div>
                                <div class="col-sm-3 text-right">
                                    {{ dividend.formatedChange }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

            {% if forloop.counter|divisibleby:3 %}
                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}