{% extends 'base.html' %}

{% block content %}
<div class="row g-5">
    <div class="col">
        <h4 class="mb-3">Portfolio</h4>
        <table class="table table-hover table-sm">
            {% block table.thead %}
            <thead>
                <tr>
                  <th scope="col">Stock</th>
                  <th scope="col">Sector</th>
                  <th scope="col">Shares</th>
                  <th scope="col">Price</th>
                  <th scope="col">Cost Per Share</th>
                  <th scope="col">Unrealized Gain</th>
                  <th scope="col">Value</th>
                </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody>
                {% for stock in portfolio %}
                    {% if stock.isOpen %}
                        <tr>
                            <td>{{ stock.symbol }}<br><small class="fw-lighter">{{ stock.name }}</small></td>
                            <td>{{ stock.sector }}<br><small class="fw-lighter">{{ stock.industry }}</small></td>
                            <td>{{ stock.shares }}</td>
                            <td>{{ stock.formattedPrice }}</td>
                            <td>{{ stock.formattedBreakEvenPrice }}</td>
                            {% if stock.unrealizedGain > 0 %}
                                <td class="text-success" >
                            {% else %}
                                <td class="text-danger" >
                            {% endif %} 
                            {{ stock.formattedUnrealizedGain }}</td>
                            <td>{{ stock.formattedValue }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
        </table>
    </div>
</div>
{% endblock %}