{% comment %} total_overview.html {% endcomment %}

{% load static %}
{% load custom_tags %}

{% block content %}
<div class="row">
    <div class="col-5">
        <label for="totalCash" class="col-form-label-p-0">Current Value: {{ total_portfolio.currentValue }}</label>
    </div>
    <div class="col-5">
        <label for="totalCash" class="col-form-label-p-0">Total Cash: {{ total_portfolio.totalCash }}</label>
    </div>
    <div class="col-5">
        <label for="totalCash" class="col-form-label-p-0">Total Deposit: {{ total_portfolio.totalDepositWithdrawal }}</label>
    </div>
    <div class="col-5">
        <label for="totalCash" class="col-form-label-p-0">ROI: {{ total_portfolio.totalROI }}</label>
    </div>
</div>
{% endblock %}