[tool.poetry]
name = "stocks-portfolio"
version = "0.1.0"
description = "DeGiro Stocks Portfolio"
authors = ["carlos.tasada <carlos.tasada@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
degiro-connector = "^3.0.22"
django = "^5.1"
pycountry = "^23.12.11"
currency-symbols = "^2.0.3"
pandas = "^2.2.2"
requests-cache = "^1.2.1"
django-extensions = "^3.2.3"
python-dateutil = "^2.8.2"
currencyconverter = "^0.17.29"
django-node-assets = "^0.9.14"
fontawesomefree = "^6.6.0"

[tool.poetry.group.dev.dependencies]
flake8 = "^7.1.1"
flake8-bugbear = "^24.8.19"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
