appdirs==1.4.4
appnope==0.1.2
asgiref==3.3.4
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
currency-symbols==2.0.0
decorator==5.0.7
degiro-connector==0.0.9
distlib==0.3.1
Django==3.2
filelock==3.0.12
grpcio==1.37.1
idna==2.10
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
numpy==1.20.2
onetimepass==1.0.1
orjson==3.5.2
pandas==1.2.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.18
protobuf==3.15.8
ptyprocess==0.7.0
pycountry==20.7.3
Pygments==2.8.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.4
virtualenv==20.4.4
virtualenv-clone==0.5.4
wcwidth==0.2.5
wrapt==1.12.1
