/*
    Stocks Portfolio Style
    CSS Variables
*/
:root {
    --primary-color: #7386D5;
    --primary-dark: #6D7FCC;
    --primary-light: #A6B9FF;
    --primary-lighter: #D0E0FF;
}

/* Base Styles */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    background: var(--primary-color);
    transition: all 0.3s;
    min-width: 150px;
    max-width: 150px;
}

.sidebar-tooltip {
    --bs-tooltip-bg: var(--primary-dark);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--primary-color);
}

.nav-link.active {
    text-decoration: underline;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    display: block;
    color: var(--primary-color);
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--primary-dark);
}

#sidebar-portfolio-selector button img {
    background: white
}

#sidebar-portfolio-menu {
    background: var(--primary-dark);
}

.sidebar-portfolio-menu-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

#sidebar-portfolio-menu li a img {
    background: white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 5px 10px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
}

/* ---------------------------------------------------
    CUSTOM COMPONENTS
----------------------------------------------------- */

.green-pill {
    background-color: #d4edda;
    color: #155724;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.red-pill {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.progress-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-light);
    z-index: 0;
}

.scrollable-area {
    max-height: 100%;
    overflow-y: auto;
}

.diversification-chart-container {
    position: relative;
    width: 200px;
    max-width: min(40vw, 40vh, 400px);
    max-height: min(40vw, 40vh, 400px);
    aspect-ratio: 1;
}

.diversification-scrollable-list {
    height: 100%;
    max-height: 325px;
    overflow-y: auto;
}

.diversification-weight {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dividends {
    background-color: var(--primary-light)
}

.upcoming-dividends {
    background: repeating-linear-gradient(
        135deg,         /* Angle of the stripes */
        var(--primary-light),        /* Color of the stripes */
        var(--primary-light) 2px,    /* End color of the stripe */
        var(--primary-lighter) 2px,    /* Background color between stripes */
        var(--primary-lighter) 4px     /* End color of the stripe */
    );
}

.forecasted-dividends {
    background: var(--primary-lighter);
}

#togglePassword {
    float: right;
    margin-left: -25px;
    margin-top: 10px;
    right: 10px;
    position: relative;
    z-index: 100;
}

/* Bootstrap Table Pagination Styles */
.bootstrap-table .btn:focus, .bootstrap-table .btn:hover {
    background-color: #6A7ED2;
}
.bootstrap-table .btn {
    background-color: var(--primary-color);
    z-index: 1;
}

.bootstrap-table .pagination {
    margin-bottom: 0;
    --bs-pagination-border-width: 0;
}

.bootstrap-table .pagination .page-item {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.bootstrap-table .pagination .page-pre {
    margin: 0;
    padding: 0;
    border-radius: 4px 0 0 4px;
}

.bootstrap-table .pagination .page-next {
    margin: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
}

.bootstrap-table .pagination .page-item.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.bootstrap-table .page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.bootstrap-table .page-link {
    color: var(--primary-color);
}

.bootstrap-table .page-link:hover {
    color: #5a6cb2;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.bootstrap-table .page-item.disabled .page-link {
    color: #6c757d;
}

.bootstrap-table .page-size-selector {
    color: var(--primary-color);
    border-color: #dee2e6;
    background-color: white;
}

.bootstrap-table .page-size-selector:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(115, 134, 213, 0.25);
}

.table td, .table th {
  border-right: none !important;
  border-left: none !important;
}

.dropdown-custom {
    color: var(--primary-color) !important;
    background-color: white;
    border-color: var(--primary-color);
}

.dropdown-custom:hover,
.dropdown-custom:focus {
    background-color: var(--primary-light) !important;
    color: black !important;
}

.dropdown-custom + .dropdown-menu .dropdown-item.active,
.dropdown-custom + .dropdown-menu .dropdown-item:active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.dropdown-custom + .dropdown-menu .dropdown-item:hover,
.dropdown-custom + .dropdown-menu .dropdown-item:focus {
    background-color: var(--primary-light) !important;
    color: black !important;
}