{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stonks Overwatch</title>

    <link rel="icon" type="image/png" href="{%  static 'stonks_overwatch-32x32.png' %}" sizes="32x32">

    <!-- jQuery CDN - Full version -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap CSS CDN -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Bootstrap Table CSS -->
    <link href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-table/dist/themes/bootstrap-table/bootstrap-table.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-1 px-0 sticky-top" id="sidebar">
                <!-- Sidebar  -->
                <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top min-vh-100">
                    <div class="d-block pt-2 pb-2 text-decoration-none text-white text-center border-bottom">
                        <p class="fw-semibold d-inline text-white fs-5">Stonks Overwatch</p>
                    </div>
                    <div class="dropdown"  id="sidebar-portfolio-selector">
                        <button class="btn dropdown-toggle border-0 text-white text-decoration-none" id="selectPortfolio" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- The JScript block injects the selected portfolio via a GET Request -->
                        </button>
                        <ul class="dropdown-menu text-small shadow" id="sidebar-portfolio-menu">
                            <!-- The JScript block injects the list of portfolios via a GET Request -->
                        </ul>
                    </div>
                    <ul class="nav flex-column mb-auto text-center w-100">
                        {% url 'dashboard' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 px-2 border-top border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-title="Dashboard">
                                <i class="bi bi-graph-up"></i>
                            </a>
                        </li>

                        {% url 'portfolio' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 px-2 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-title="Portfolio">
                                <i class="bi bi-briefcase-fill"></i>
                            </a>
                        </li>

                        {% url 'diversification' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-original-title="Diversification">
                                <i class="bi bi-pie-chart-fill"></i>
                            </a>
                        </li>

                        {% url 'dividends' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 px-2 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-title="Dividends">
                                <i class="bi bi-cash-coin"></i>
                            </a>
                        </li>

                        {% url 'fees' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 px-2 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-title="Fees">
                                <i class="bi bi-receipt"></i>
                            </a>
                        </li>

                        {% url 'deposits' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 px-2 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-original-title="Deposits">
                                <i class="bi bi-piggy-bank-fill"></i>
                            </a>
                        </li>

                        {% url 'transactions' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-original-title="Transactions">
                                <i class="bi bi-arrow-left-right"></i>
                            </a>
                        </li>
                        {% url 'account_overview' as url %}
                        <li class="nav-item">
                            <a href="{{ url }}" class="nav-link active py-3 border-bottom fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-original-title="Account Statement">
                                <i class="bi bi-bank"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="pb-2">
                        {% is_connected_to_degiro as is_degiro_connected %}
                        {% get_connected_tooltip as get_connected_tooltip %}
                        <a class="d-flex align-items-center text-white text-decoration-none w-100 text-center fs-4" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="sidebar-tooltip" data-bs-html="true" data-bs-original-title="{{ get_connected_tooltip }}">
                            {%  if is_degiro_connected %}
                                <i class="bi-cloud-check-fill"></i>
                            {% else %}
                                <i class="bi-cloud-slash-fill"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-11 py-3" id="content">
                <!-- Page Content  -->
                <!-- Top Navigation Bar  -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid justify-content-start">
                        <!-- Shows Total Portfolio  -->
                        {% show_total_portfolio %}
                    </div>
                </nav>

                <div class="scrollable-area" style="height: calc(100vh - 100px)">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Bootstrap Table JS -->
    <script src="{% static 'bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'bootstrap-table/dist/themes/bootstrap-table/bootstrap-table.min.js' %}"></script>

    <script type="text/javascript">
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

        // Fetch configuration data
        fetch("{% url 'configuration' %}", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then(data => {
                const selectedPortfolio = document.getElementById("selectPortfolio");
                selectedPortfolio.innerHTML = `<img src="${data.selected_portfolio.logo}" alt="${data.selected_portfolio.id}" width="25" height="25" class="rounded-circle m-2">${data.selected_portfolio.name}`;

                const portfolioMenu = document.getElementById("sidebar-portfolio-menu");
                portfolioMenu.innerHTML = ""; // Clear existing menu items

                if (data.available_portfolios.length === 1) {
                    // Remove the dropdown toggle if there is only one portfolio
                    selectedPortfolio.removeAttribute("data-bs-toggle");
                    selectedPortfolio.classList.remove("dropdown-toggle");
                } else {
                    // Show the portfolio selector dropdown only when there are multiple portfolios
                    data.available_portfolios.forEach(portfolio => {
                        const menuItem = document.createElement("li");
                        menuItem.innerHTML = `<li><a class="dropdown-item portfolio-link-filter" href="#" data-value="${portfolio.id}"><img src="${portfolio.logo}" alt="${portfolio.id}" width="30" height="30" class="rounded-circle m-1">${portfolio.name}</a></li>`;

                        // Add click event listener to menuItem
                        menuItem.querySelector("a").addEventListener("click", function(event) {
                            event.preventDefault();  // Prevent default link behavior

                            let selectedPortfolio = this.getAttribute("data-value");

                            fetch("{% url 'configuration' %}", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    "X-CSRFToken": "{{ csrf_token }}"
                                },
                                body: JSON.stringify({ selected_portfolio: selectedPortfolio })
                            }).then(response => {
                                if (response.ok) {
                                    window.location.reload();
                                }
                            });
                        });

                        portfolioMenu.appendChild(menuItem);
                    });
                }
            });
    </script>
</body>

</html>
