{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>
<script src="{% static 'chartjs-plugin-zoom/dist/chartjs-plugin-zoom.js' %}"></script>

<div class="container-fluid row-gap-5">
    <div class="row content-card rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <div class="section-header pb-0">Portfolio</div>
                <span>
                    <nav class="nav px-1" id="portfolioType">
                        <a class="nav-link px-1 active" id="valuePortfolio" aria-selected="true" href="#">Value</a>
                        <a class="nav-link px-1" id="performancePortfolio" aria-selected="false"
                            href="#">Performance</a>
                    </nav>
                </span>
            </div>
            <div class="col float-end text-end">
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="portfolioTime" id="YTDButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="YTDButton">YTD</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="MTDButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="MTDButton">MTD</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="1MButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1MButton">1M</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="3MButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3MButton">3M</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="6MButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="6MButton">6M</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="1YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1YButton">1Y</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="3YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3YButton">3Y</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="5YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="5YButton">5Y</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="allButton" autocomplete="off"
                        checked>
                    <label class="btn btn-outline-primary" for="allButton">ALL</label>
                </div>
            </div>
        </div>
        <div class="row w-100 chart-container">
            <canvas id="portofolio-chart"></canvas>
        </div>
    </div>
    <div class="row content-card rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <div class="section-header pb-0">Performance</div>
                <span>
                    <div class="dropdown dropdown-custom" id="performanceYearsDropdown">
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle dropdown-custom" type="button"
                            id="performanceYearsDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                            All Time
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="performanceYearsDropdownButton">
                            <li>
                                <a class="dropdown-item active" id="allTime" href="#">All Time</a>
                            </li>
                            {% for year, values in portfolio.annual_twr.items %}
                            <li>
                                <a class="dropdown-item" id="performanceByYear-{{ year }}" href="#">{{ year }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </span>
            </div>
        </div>
        <div class="row w-100 chart-container">
            <canvas id="grouped-performance-chart"></canvas>
        </div>
    </div>
</div>

<script>
    const URL = "{% url 'dashboard' %}"
    const HOST = window.location.protocol + "//" + window.location.host

    const RED = 'rgba(239, 83, 67, 0.75)'
    const GREEN = 'rgba(38, 169, 79, 0.75)'
    const BLUE = 'rgba(92, 157, 233, 0.75)'

    {% include 'dashboard/growth_chart.js' %}

    {% include 'dashboard/performance_chart.js' %}
</script>
{% endblock %}
