{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>

<div class="container-fluid row-gap-5">
    <div class="row border border-primary-subtle bg-light rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <span>
                    <h5 class="mb-1">Portfolio </h5>
                </span>
                <span>
                    <nav class="nav px-1" id="portfolioType">
                        <a class="nav-link px-1 active" id="valuePortfolio" aria-selected="true" href="#">Value</a>
                        <a class="nav-link px-1" id="performancePortfolio" aria-selected="false" href="#">Performance</a>
                    </nav>
                </span>
            </div>
            <div class="col float-end text-end">
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="portfolioTime" id="YTDButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="YTDButton">YTD</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="MTDButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="MTDButton">MTD</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="1DButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1DButton">1D</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="1WButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1WButton">1W</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="1MButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1MButton">1M</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="3MButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3MButton">3M</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="6MButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="6MButton">6M</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="1YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1YButton">1Y</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="3YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3YButton">3Y</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="5YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="5YButton">5Y</label>

                    <input type="radio" class="btn-check" name="portfolioTime" id="allButton" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="allButton">ALL</label>
                </div>
            </div>
        </div>
        <div class="row w-100" style="position: relative; width: 100%; height: 40vh;">
            <canvas id="portofolio-chart"></canvas>
        </div>
    </div>
    <div class="row border border-primary-subtle bg-light rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <span>
                    <h5 class="mb-1">Performance </h5>
                </span>
                <span>
                    <nav class="nav px-1" id="performanceYears">
                        <a class="nav-link px-1 active" id="allTime" aria-selected="true" href="#">All Time</a>
                        {% for year, values in portfolio.annual_twr.items %}
                        <a class="nav-link px-1" id="performanceByYear-{{ year }}" aria-selected="false" href="#">{{ year }}</a>
                        {% endfor %}
                    </nav>
                </span>
            </div>
        </div>
        <div class="row w-100" style="position: relative; width: 100%; height: 40vh;">
            <canvas id="grouped-performance-chart"></canvas>
        </div>
    </div>
</div>

<script>
    const URL = "{% url 'dashboard' %}"
    const HOST = window.location.protocol + "//" + window.location.host

    {% include 'dashboard_chart.js' %}

    {% include 'dashboard_performance_chart.js' %}
</script>
{% endblock %}