{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% include 'components/bootstrap_table_sticky_header_css.html' with table_id='deposits-table' page_class='deposits' %}
{% endblock %}

{% block content %}
<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>
{# Chart data for static JS (deposits.js). Bootstrap table pages don't need this because data is already in the DOM. #}
{{ deposit_growth.value|json_script:"deposits-growth-data" }}

<div class="container-fluid row-gap-5">
    <div class="row mt-2">
        {% include 'components/summary_card.html' with label="Total Deposits" value=total_deposits %}
    </div>
    <div class="row content-card rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <div class="section-header pb-0">Deposits</div>
            </div>
            <div class="col float-end text-end">
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="depositsTime" id="YTDButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="YTDButton">YTD</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="1YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1YButton">1Y</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="3YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3YButton">3Y</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="5YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="5YButton">5Y</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="maxButton" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="maxButton">MAX</label>
                </div>
            </div>
        </div>
        <div class="row w-100 chart-container chart-container-md">
            <canvas id="deposits-chart"></canvas>
        </div>
    </div>
    <div class="row content-card rounded mb-3">
        <div class="section-header pb-0">Deposits</div>
        <table id="deposits-table">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true" data-width="150" data-width-unit="px">Date</th>
                    <th data-field="type" data-sortable="true" data-width="150" data-width-unit="px">Type</th>
                    <th data-field="description" data-sortable="true">Description</th>
                    <th data-field="amount" data-sortable="true" data-width="150" data-width-unit="px">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in deposits %}
                <tr>
                    <td>{{ entry.datetime_as_date }}</td>
                    {% if entry.type.value == "Deposit" %}
                    <td><span class="green-pill">{{ entry.type.value }}</span></td>
                    {% else %}
                    <td><span class="red-pill">{{ entry.type.value }}</span></td>
                    {% endif %}
                    <td>{{ entry.description }}</td>
                    <td>{{ entry.change_formatted }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/deposits.js' %}"></script>
{% endblock %}

{% block extra_js %}
{% include 'components/bootstrap_table_sticky_header_js.html' with table_id='deposits-table' export_filename='deposits_export' min_height=600 %}
{% endblock %}
