{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>

<div class="container-fluid row-gap-5">
    <div class="row mt-2">
        <div class="col-2 border border-primary-subtle bg-light rounded mb-3">
            <label class="col-form-label-p-0 text-secondary">Total Deposits</label>
            <span>
                <h5 class="mb-1">{{ total_deposits }}</h5>
            </span>
        </div>
    </div>
    <div class="row border border-primary-subtle bg-light rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <span>
                    <h5 class="mb-1">Deposits</h5>
                </span>
            </div>
            <div class="col float-end text-end">
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="depositsTime" id="YTDButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="YTDButton">YTD</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="1YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="1YButton">1Y</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="3YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="3YButton">3Y</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="5YButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="5YButton">5Y</label>

                    <input type="radio" class="btn-check" name="depositsTime" id="maxButton" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="maxButton">MAX</label>
                </div>
            </div>
        </div>
        <div class="row w-100" style="position: relative; width: 100%; height: 40vh;">
            <canvas id="deposits-chart"></canvas>
        </div>
    </div>
    <div class="col">
        <h4 class="mb-3">Deposits</h4>
        <table class="table table-hover table-sm">
            {% block table.thead %}
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody>
                {% for entry in deposits %}
                <tr>
                    <td>{{ entry.datetime_as_date }}</td>
                    {% if entry.type.value == "Deposit" %}
                    <td><span class="green-pill">{{ entry.type.value }}</span></td>
                    {% else %}
                    <td><span class="red-pill">{{ entry.type.value }}</span></td>
                    {% endif %}
                    <td>{{ entry.description }}</td>
                    <td>{{ entry.change_formatted }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endblock table.tbody %}
        </table>
    </div>
</div>

<script>
    const TimeRanges = {
        YTD: "YTD",
        Y1: "1Y",
        Y3: "3Y",
        Y5: "5Y",
        MAX: "MAX",
    }

    function getSelectedTimeRange() {
        var activeButton = $('.btn-group input[type="radio"]:checked');
        switch (activeButton.attr('id')) {
            case "YTDButton":
                return TimeRanges.YTD
            case "1YButton":
                return TimeRanges.Y1
            case "3YButton":
                return TimeRanges.Y3
            case "5YButton":
                return TimeRanges.Y5
            case "maxButton":
            default:
                return TimeRanges.MAX
        }
    }

    $('#YTDButton').on('click', function () {
        drawDeposits(TimeRanges.YTD)
    })
    $('#1YButton').on('click', function () {
        drawDeposits(TimeRanges.Y1)
    })
    $('#3YButton').on('click', function () {
        drawDeposits(TimeRanges.Y3)
    })
    $('#5YButton').on('click', function () {
        drawDeposits(TimeRanges.Y5)
    })
    $('#maxButton').on('click', function () {
        drawDeposits(TimeRanges.MAX)
    })
    // Customize colors with https://www.npmjs.com/package/@seahsky/chartjs-plugin-autocolors#customize
    const autocolors = window['@seahsky/chartjs-plugin-autocolors'];

    function getTimeRangeConfig(timeRange, minimumDate) {
        const config = {
            minDate: minimumDate,
            maxDate: new Date(),
            timeUnit: 'month',
            timeRound: 'day'
        }
        switch (timeRange) {
            case TimeRanges.YTD:
                config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear(), 0, 1)])
                config.timeUnit = 'week'
                break
            case TimeRanges.Y1:
                config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear() - 1, 0, 1)])
                config.timeUnit = 'week'
                break
            case TimeRanges.Y3:
                config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear() - 3, 0, 1)])
                config.timeUnit = 'month'
                break
            case TimeRanges.Y5:
                config.minDate = Math.max.apply(null, [minimumDate, new Date(new Date().getFullYear() - 5, 0, 1)])
                config.timeUnit = 'month'
                break
            case TimeRanges.MAX:
                config.minDate = minimumDate
                config.timeUnit = 'month'
                break
        }
        return config
    }

    function drawDeposits(timeRange) {
        const dataValue = {
            datasets: [{
                label: 'Deposits',
                data: {{ deposit_growth.value | safe }},
                stepped: true,
                fill: 'start',
        }],
    };
    const minimumDate = new Date('{{ deposit_growth.value.0.x }}')

    redrawDepositsGraph(dataValue, timeRange, minimumDate)
  }

    function redrawDepositsGraph(datasets, timeRange, minimumDate) {
        const timeRangeConfig = getTimeRangeConfig(timeRange, minimumDate)

        const configDeposits = {
            type: 'line',
            data: datasets,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'time',
                        min: timeRangeConfig.minDate,
                        max: timeRangeConfig.maxDate,
                        time: {
                            // Luxon format string
                            tooltipFormat: 'DD',
                            unit: timeRangeConfig.timeUnit,
                            round: timeRangeConfig.timeRound,
                        },
                    },
                    y: {
                        beginAtZero: false,
                    }
                },
                elements: {
                    point: {
                        radius: 0
                    }
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                let label = context.dataset.label || '';

                                if (label) {
                                    label += ': ';
                                }
                                if (context.parsed.y !== null) {
                                    label += new Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(context.parsed.y);
                                }
                                return label;
                            }
                        }
                    }
                }
            },
        };

        let chartStatus = Chart.getChart("deposits-chart"); // <canvas> id
        if (chartStatus !== undefined) {
            chartStatus.destroy();
        }

        let portofolioChart = new Chart(document.getElementById("deposits-chart").getContext("2d"), configDeposits);
    }

    drawDeposits(TimeRanges.MAX)
</script>
{% endblock %}