<div class="row border border-primary-subtle bg-light rounded mb-3 pb-3">
    <div class="col-sm" style="position: relative; height:40vh">
        <canvas id="{{ chart_id }}"></canvas>
    </div>
    <div class="col-sm diversification-scrollable-list list-group mt-3" style="height:40vh">
        {% for item in items %}
            <div class="list-group-item rounded m-1">
                <div class="progress-bar-background" style="width: {{ item.weight }}%;"></div>
                <div class="diversification-weight">
                    <div>
                    {% if item.logo %}
                    <img class="rounded-circle bg-white" src="{{ item.logo }}" width="30" height="30" alt="{{ item.symbol }} logo" onerror="this.style.display='none'">
                    {% elif item.symbol %}
                    <div class="rounded-circle bg-white" style="width: 30px; height: 30px; display: inline-block; text-align: center; line-height: 30px;">{{ item.symbol }}</div>
                    {% endif %}
                    {{ item.name }}</div>
                    <div>{{ item.formatted_size }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
