<div class="row align-items-stretch border border-primary-subtle bg-light rounded mb-3 pb-3" style="height: 100%;">
    <div class="col-sm" style="position: relative; height:40vh">
        <canvas id="{{ chart_id }}" width="200" height="200"></canvas>
    </div>
    <div class="col-sm diversification-scrollable-list list-group mt-3">
        {% for item in items %}
            <div class="list-group-item rounded m-1">
                <div class="progress-bar-background" style="width: {{ item.weight }}%;"></div>
                <div class="diversification-weight">
                    <div>
                        {% if item.product_type %}
                            <img class="rounded-circle bg-white" src="{% url 'asset_logo' product_type=item.product_type|lower symbol=item.symbol|lower %}" width="30" height="30" alt="{{ item.symbol }} logo" onerror="this.style.display='none'">
                        {% endif %}
                    {{ item.name }}</div>
                    <div>{{ item.formatted_size }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
