{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

<div class="container-fluid row-gap-5">
    {% include 'components/distribution_with_list.html' with chart_id="type-chart" items=productTypes.table %}
    {% if stocks and stocks.table %}
    {% include 'components/distribution_with_list.html' with chart_id="stocks-chart" items=stocks.table %}
    {% endif %}
    {% if etfs and etfs.table %}
        {% include 'components/distribution_with_list.html' with chart_id="etfs-chart" items=etfs.table %}
    {% endif %}
    {% include 'components/distribution_with_list.html' with chart_id="sectors-chart" items=sectors.table %}
    {% if crypto and crypto.table %}
        {% include 'components/distribution_with_list.html' with chart_id="crypto-chart" items=crypto.table %}
    {% endif %}
    {% include 'components/distribution_with_list.html' with chart_id="currencies-chart" items=currencies.table %}
    {% if countries and countries.table %}
    {% include 'components/distribution_with_list.html' with chart_id="countries-chart" items=countries.table %}
    {% endif %}
</div>

<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>
{{ currencySymbol|json_script:"currency-symbol" }}
{{ productTypes.chart.labels|json_script:"diversification-type-labels" }}
{{ productTypes.chart.values|json_script:"diversification-type-values" }}
{% if stocks and stocks.table %}
{{ stocks.chart.labels|json_script:"diversification-stocks-labels" }}
{{ stocks.chart.values|json_script:"diversification-stocks-values" }}
{% endif %}
{% if etfs and etfs.table %}
{{ etfs.chart.labels|json_script:"diversification-etfs-labels" }}
{{ etfs.chart.values|json_script:"diversification-etfs-values" }}
{% endif %}
{% if crypto and crypto.table %}
{{ crypto.chart.labels|json_script:"diversification-crypto-labels" }}
{{ crypto.chart.values|json_script:"diversification-crypto-values" }}
{% endif %}
{{ sectors.chart.labels|json_script:"diversification-sectors-labels" }}
{{ sectors.chart.values|json_script:"diversification-sectors-values" }}
{{ currencies.chart.labels|json_script:"diversification-currencies-labels" }}
{{ currencies.chart.values|json_script:"diversification-currencies-values" }}
{% if countries and countries.table %}
{{ countries.chart.labels|json_script:"diversification-countries-labels" }}
{{ countries.chart.values|json_script:"diversification-countries-values" }}
{% endif %}
<script src="{% static 'js/distribution-chart-utils.js' %}"></script>
<script src="{% static 'js/diversification.js' %}"></script>
{% endblock %}
