{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

<div class="container-fluid row-gap-5">
    {% include 'components/distribution_with_list.html' with chart_id="type-chart" items=productTypes.table %}
    {% if stocks and stocks.table %}
    {% include 'components/distribution_with_list.html' with chart_id="stocks-chart" items=stocks.table %}
    {% endif %}
    {% if etfs and etfs.table %}
        {% include 'components/distribution_with_list.html' with chart_id="etfs-chart" items=etfs.table %}
    {% endif %}
    {% include 'components/distribution_with_list.html' with chart_id="sectors-chart" items=sectors.table %}
    {% if crypto and crypto.table %}
        {% include 'components/distribution_with_list.html' with chart_id="crypto-chart" items=crypto.table %}
    {% endif %}
    {% include 'components/distribution_with_list.html' with chart_id="currencies-chart" items=currencies.table %}
    {% if countries and countries.table %}
    {% include 'components/distribution_with_list.html' with chart_id="countries-chart" items=countries.table %}
    {% endif %}
</div>

<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>
{{ currencySymbol|json_script:"currency-symbol" }}
<script src="{% static 'js/distribution-chart-utils.js' %}"></script>
<script>
    drawDoughnutChart(
        "type-chart",
        "Type",
        {{ productTypes.chart.labels|safe }},
        {{ productTypes.chart.values|safe }}
    );

    {% if stocks and stocks.table %}
    drawDoughnutChart(
        "stocks-chart",
        "Stocks",
        {{ stocks.chart.labels|safe }},
        {{ stocks.chart.values|safe }}
    );
    {% endif %}

    {% if etfs and etfs.table %}
        drawDoughnutChart(
            "etfs-chart",
            "ETFs",
            {{ etfs.chart.labels|safe }},
            {{ etfs.chart.values|safe }}
        );
    {% endif %}

    {% if crypto and crypto.table %}
    drawDoughnutChart(
        "crypto-chart",
        "Crypto",
        {{ crypto.chart.labels|safe }},
        {{ crypto.chart.values|safe }}
    );
    {% endif %}

    drawDoughnutChart(
        "sectors-chart",
        "Sectors",
        {{ sectors.chart.labels|safe }},
        {{ sectors.chart.values|safe }}
    );

    drawDoughnutChart(
        "currencies-chart",
        "Currencies",
        {{ currencies.chart.labels|safe }},
        {{ currencies.chart.values|safe }}
    );

    {% if countries and countries.table %}
    drawDoughnutChart(
        "countries-chart",
        "Countries",
        {{ countries.chart.labels|safe }},
        {{ countries.chart.values|safe }}
    );
    {% endif %}
</script>
{% endblock %}
