{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
<div class="container-fluid row-gap-5">
    {% include 'distribution_with_list.html' with chart_id="type-chart" items=productTypes.table %}
    {% include 'distribution_with_list.html' with chart_id="positions-chart" items=positions.table %}
    {% include 'distribution_with_list.html' with chart_id="sectors-chart" items=sectors.table %}
    {% include 'distribution_with_list.html' with chart_id="currencies-chart" items=currencies.table %}
    {% include 'distribution_with_list.html' with chart_id="countries-chart" items=countries.table %}
</div>

<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>
{{ currencySymbol|json_script:"currency-symbol" }}
<script src="{% static 'js/distribution-char-utils.js' %}"></script>
<script>
    drawDoughnutChart(
        "type-chart",
        "Type",
        {{ productTypes.chart.labels|safe }},
        {{ productTypes.chart.values|safe }}
    );

    drawDoughnutChart(
        "positions-chart",
        "Positions",
        {{ positions.chart.labels|safe }},
        {{ positions.chart.values|safe }}
    );

    drawDoughnutChart(
        "sectors-chart",
        "Sectors",
        {{ sectors.chart.labels|safe }},
        {{ sectors.chart.values|safe }}
    );

    drawDoughnutChart(
        "currencies-chart",
        "Currencies",
        {{ currencies.chart.labels|safe }},
        {{ currencies.chart.values|safe }}
    );

    drawDoughnutChart(
        "countries-chart",
        "Countries",
        {{ countries.chart.labels|safe }},
        {{ countries.chart.values|safe }}
    );
</script>
{% endblock %}