{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}

<div class="container-fluid row-gap-5" id="dividends-page" data-url="{% url 'dividends' %}">
    {% if totalNetDividends == None %}
    <div class="row mt-2 column-gap-3">
        <p class="h4 mb-1">No dividends found</p>
    </div>
    {% else %}
    <div class="row mt-2 column-gap-3">
        {% include 'components/summary_card.html' with label="Net Dividends" value=totalNetDividends tooltip="Total net dividends received." %}
        {% include 'components/summary_card.html' with label="Dividend Tax" value=totalTaxDividends tooltip="Total amount paid in dividend taxes." %}
        {% include 'components/summary_card.html' with label="Gross Dividends" value=totalGrossDividends tooltip="Gross dividend is the total amount paid out before dividend tax is deducted." %}
    </div>
    <div class="row content-card rounded mb-3">
        <div class="row mt-2">
            <div class="col">
                <div class="section-header pb-0">Dividends Cash Flow</div>
            </div>
            <div class="col float-end text-end">
                <div class="btn-group btn-group-sm" role="group">
                    <input type="radio" class="btn-check" name="dividendsTime" id="yearButton" autocomplete="off">
                    <label class="btn btn-outline-primary" for="yearButton">Year</label>

                    <input type="radio" class="btn-check" name="dividendsTime" id="monthButton" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="monthButton">Month</label>
                </div>
            </div>
        </div>
        <div class="row w-100 chart-container chart-container-sm">
            <canvas id="dividends-growth"></canvas>
        </div>
    </div>
    <div class="row content-card rounded mb-3">
        <div class="row mt-2">
            <div class="col-auto">
                <div class="section-header pb-0">Dividends Diversification</div>
            </div>
            <div class="col-auto">
                <div class="dropdown dropdown-custom" id="dividendsDiversificationDropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle dropdown-custom dropdown-min-width"
                        type="button" id="dividendsDiversificationDropdownButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ selectedDiversificationOption }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dividendsDiversificationDropdownButton"
                        class="dropdown-menu-auto">
                        {% for option in diversificationOptions %}
                        <li><a class="dropdown-item" href="#">{{ option }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="dividends-diversification-container">
            {% include 'components/distribution_with_list.html' with chart_id="dividends-chart" show_border=False items=dividendsDiversification.table %}
        </div>
    </div>
    <div class="row content-card rounded mb-3">
        <div class="row my-2">
            <div class="col-auto">
                <div class="section-header pb-0">Dividends Calendar</div>
            </div>
            <div class="col-auto">
                <div class="btn-group btn-group-sm" role="group" aria-label="Year navigation">
                    <button class="btn btn-outline-secondary dropdown-custom" type="button" id="dividendsPrevYearButton"
                        title="Previous year">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <div class="dropdown dropdown-custom" id="dividendsYearsDropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle dropdown-custom dropdown-min-width"
                            type="button" id="dividendsYearsDropdownButton" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ selectedCalendarYear }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dividendsYearsDropdownButton"
                            class="dropdown-menu-auto">
                            {% for year in dividendsCalendar.years %}
                            <li><a class="dropdown-item" href="#">{{ year }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="btn btn-outline-secondary dropdown-custom" type="button" id="dividendsNextYearButton"
                        title="Next year">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-auto ms-1 py-1">
                <div class="col-auto border rounded-pill d-flex align-items-center px-3 py-1 pill-primary">
                    <span>Total Paid:</span>
                    <span id="dividendsYearTotal" class="ms-2">{{ totalYearDividends }}</span>
                </div>
            </div>
            <div class="col-auto ms-auto d-flex justify-content-end">
                <div class="d-flex flex-row align-items-center">
                    <div class="d-flex align-items-center me-3">
                        <span class="border dividends legend-dot" data-bs-toggle="tooltip" data-bs-placement="top"
                            data-bs-custom-class="info-tooltip" data-bs-title="Dividend is already paid"
                        ></span>
                        Paid
                    </div>
                    <div class="d-flex align-items-center me-3">
                        <span class="border upcoming-dividends legend-dot" data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="info-tooltip" data-bs-title="Dividend is announced and confirmed"
                        ></span>
                        Announced
                    </div>
                    <div class="d-flex align-items-center me-3">
                        <span class="border forecasted-dividends legend-dot" data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="info-tooltip"
                            data-bs-title="Dividend is forecasted, value may change."
                        ></span>
                        Forecasted
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="border ex_dividend-dividends legend-dot" data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-custom-class="info-tooltip"
                            data-bs-title="Ex-Dividend date is the date the dividend will be calculated based on the owned shares."
                        ></span>
                        Ex-Dividend
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="dividends-calendar-container">
            {% include 'dividends/calendar.html' with dividendsCalendar=dividendsCalendar %}
        </div>
    </div>
    {% endif %}
</div>
<!-- ChartJS -->
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
<script src="{% static 'luxon/build/global/luxon.js' %}"></script>
<script src="{% static 'chartjs-adapter-luxon/dist/chartjs-adapter-luxon.umd.min.js' %}"></script>
<script src="{% static '@seahsky/chartjs-plugin-autocolors/dist/chartjs-plugin-autocolors.min.js' %}"></script>
{{ currencySymbol|json_script:"currency-symbol" }}
{{ dividendsGrowth|json_script:"dividends-growth-data" }}
{{ dividendsDiversification.chart.labels|json_script:"dividends-diversification-labels" }}
{{ dividendsDiversification.chart.values|json_script:"dividends-diversification-values" }}
{{ diversificationOptions|json_script:"dividends-diversification-options" }}
{{ selectedDiversificationOption|json_script:"dividends-selected-diversification-option" }}
{{ dividendsCalendar.years|json_script:"dividends-calendar-years" }}
{{ selectedCalendarYear|json_script:"dividends-selected-calendar-year" }}
<script src="{% static 'js/distribution-chart-utils.js' %}"></script>
<script src="{% static 'js/dividends.js' %}"></script>
{% endblock %}
