{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% include 'components/bootstrap_table_sticky_header_css.html' with table_id='fees-table' page_class='fees' %}
{% endblock %}

{% block content %}
<div class="container-fluid row-gap-5">
    <div class="row mt-2 column-gap-3">
        {% include 'components/summary_card.html' with label="Transaction Fees" value=transaction_fees %}
        {% include 'components/summary_card.html' with label="Exchange Connection Fees" value=exchange_fees %}
        {% include 'components/summary_card.html' with label="Financial Transaction Tax" value=ftt_fees %}
        {% include 'components/summary_card.html' with label="ADR/GDR Passthrough Fees" value=adr_fees %}
    </div>
    <div class="row content-card rounded mb-3">
        <div class="section-header pb-0">Fees</div>
        <table id="fees-table">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true" data-width="100" data-width-unit="px"
                        data-formatter="dateTimeFormatter">Date</th>
                    <th data-field="time" data-sortable="true" data-width="100" data-width-unit="px"
                        data-visible="false">Time</th>
                    <th data-field="type" data-sortable="true" data-width="100" data-width-unit="px">Type</th>
                    <th data-field="description" data-sortable="true">Description</th>
                    <th data-field="fees" data-sortable="true" data-width="100" data-width-unit="px">Fee Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees %}
                <tr>
                    <td class="text-nowrap">{{ fee.date }}</td>
                    <td class="text-nowrap">{{ fee.time }}</td>
                    <td><span class="red-pill">{{ fee.type }}</span></td>
                    <td>{{ fee.description }}</td>
                    <td>{{ fee.fee_formatted }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/fees-table.js' %}"></script>
{% include 'components/bootstrap_table_sticky_header_js.html' with table_id='fees-table' export_filename='fees_export' %}
{% endblock %}
