{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid row-gap-5">
    <div class="row mt-2 column-gap-3">
        <div class="col-md-auto border border-primary-subtle bg-light rounded mb-3">
            <label class="col-form-label-p-0 text-secondary">Transaction Fees</label>
            <br>
            <span class="h5 fw-semibold text-danger">{{ transaction_fees }}</span>
        </div>
        <div class="col-md-auto border border-primary-subtle bg-light rounded mb-3">
            <label class="col-form-label-p-0 text-secondary">Exchange Connection Fees</label>
            <br>
            <span class="h5 fw-semibold text-danger">{{ exchange_fees }}</span>
        </div>
        <div class="col-md-auto border border-primary-subtle bg-light rounded mb-3">
            <label class="col-form-label-p-0 text-secondary">Financial Transaction Tax</label>
            <br>
            <span class="h5 fw-semibold text-danger">{{ ftt_fees }}</span>
        </div>
        <div class="col-md-auto border border-primary-subtle bg-light rounded mb-3">
            <label class="col-form-label-p-0 text-secondary">ADR/GDR Passthrough Fees</label>
            <br>
            <span class="h5 fw-semibold text-danger">{{ adr_fees }}</span>
        </div>
    </div>
    <div class="row border border-primary-subtle bg-light rounded mb-3 position-relative">
        <h4 class="position-absolute top-0 start-0 z-2 px-3" style="padding-top: 8px; padding-left: 4px">Fees</h4>
        <table id="fees-table"
               data-toggle="table"
               data-search="true"
               data-pagination="true"
               data-pagination-loop="false"
               data-page-list="[10, 25, 50, 100, 200, All]"
               {#FIXME: pageSize doesn't work. https://bootstrap-table.com/docs/api/table-options/#paginationparts#}
               data-pagination-parts="['pageInfo','pageList']"
               data-page-size="10"
               data-sortable="true"
               data-sort-order="desc"
               data-sort-name="date"
               data-icons="icons"
               data-icons-prefix="bi"
               data-fixed-scroll="true">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true" data-width="100" data-width-unit="px">Date</th>
                    <th data-field="type" data-sortable="true" data-width="100" data-width-unit="px">Type</th>
                    <th data-field="description" data-sortable="true">Description</th>
                    <th data-field="fees" data-sortable="true" data-width="100" data-width-unit="px">Fee Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees %}
                <tr>
                    <td>{{ fee.date }}<br><small class="fw-lighter">{{ fee.time }}</small></td>
                    <td><span class="red-pill">{{ fee.type }}</span></td>
                    <td>{{ fee.description }}</td>
                    <td>{{ fee.fees }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}