{% extends 'base.html' %}

{% block content %}
<div class="container-fluid row-gap-5">
    <div class="row align-items-center mt-2">
        <div class="col-1">
            <p class="h5">Portfolio</p>
        </div>
        <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle dropdown-custom" type="button" id="positionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if selected_positions == "OPEN" %}Open Positions{% elif selected_positions == "CLOSED" %}Closed Positions{% else %}All Positions{% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="positionsDropdown">
                    <li><a class="dropdown-item {% if selected_positions == 'OPEN' %}active{% endif %}" href="?positions=OPEN">Open Positions</a></li>
                    <li><a class="dropdown-item {% if selected_positions == 'CLOSED' %}active{% endif %}" href="?positions=CLOSED">Closed Positions</a></li>
                    <li><a class="dropdown-item {% if selected_positions == 'ALL' %}active{% endif %}" href="?positions=ALL">All Positions</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% if stocks %}
    <div class="row mt-2">
        <p class="h5 mb-3">Stocks</p>
        {% include 'portfolio/table.html' with items=stocks show_columns=show_stocks_columns %}
    </div>
    {% endif %}
    {% if etfs %}
    <div class="row mt-2">
        <p class="h5 mb-3">ETF</p>
        {% include 'portfolio/table.html' with items=etfs show_columns=show_etfs_columns %}
    </div>
    {% endif %}
    {% if crypto %}
        <div class="row mt-2">
            <p class="h5 mb-3">Crypto</p>
            {% include 'portfolio/table.html' with items=crypto show_columns=show_crypto_columns %}
        </div>
    {% endif %}
    {% if cash %}
    <div class="row mt-2">
        <p class="h5 mb-3">Cash</p>
        {% include 'portfolio/table.html' with items=cash show_columns=show_cash_columns %}
    </div>
    {% endif %}
</div>

{% endblock %}
