{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% include 'components/bootstrap_table_sticky_header_css.html' with table_id='transactions-table' page_class='transactions' %}
{% endblock %}

{% block content %}
<div class="container-fluid row-gap-5">
    <div class="row content-card rounded mb-3">
        <div class="section-header pb-0">Transactions</div>
        <table id="transactions-table">
            <thead>
                <tr>
                    <th data-field="date" data-sortable="true" data-width="100" data-width-unit="px"
                        data-formatter="dateTimeFormatter">Date</th>
                    <th data-field="time" data-sortable="true" data-width="100" data-width-unit="px"
                        data-visible="false">Time</th>
                    <th data-field="buy_sell" data-sortable="true" data-width="100" data-width-unit="px">Action</th>
                    <th data-field="symbol" data-sortable="true" data-formatter="symbolNameFormatter">Stock</th>
                    <th data-field="name" data-sortable="true" data-visible="false">Name</th>
                    <th data-field="quantity" data-sortable="true" data-width="100" data-width-unit="px">Quantity</th>
                    <th data-field="price" data-sortable="true" data-width="120" data-width-unit="px"
                        data-formatter="priceFormatter">Price</th>
                    <th data-field="formatted_price" data-sortable="false" data-width="120" data-width-unit="px"
                        data-visible="false" data-switchable="false">Formatted Price</th>
                    <th data-field="currency" data-sortable="true" data-width="80" data-width-unit="px"
                        data-visible="false">Currency</th>
                    <th data-field="total" data-sortable="true" data-width="100" data-width-unit="px"
                        data-formatter="totalFormatter">Local Value</th>
                    <th data-field="formatted_total" data-sortable="false" data-width="100" data-width-unit="px"
                        data-visible="false" data-switchable="false">Formatted Local Value</th>
                    <th data-field="total_currency" data-sortable="true" data-width="80" data-width-unit="px"
                        data-visible="false">Local Currency</th>
                    <th data-field="total_in_base_currency" data-sortable="true" data-width="120" data-width-unit="px"
                        data-formatter="totalInBaseCurrencyFormatter">Value</th>
                    <th data-field="formatted_total_in_base_currency" data-sortable="false" data-width="120"
                        data-width-unit="px" data-visible="false" data-switchable="false">Formatted Value</th>
                    <th data-field="base_currency" data-sortable="true" data-width="80" data-width-unit="px"
                        data-visible="false">Base Currency</th>
                    <th data-field="fees" data-sortable="true" data-width="100" data-width-unit="px"
                        data-formatter="feesFormatter">Fees</th>
                    <th data-field="formatted_fees" data-sortable="false" data-width="100" data-width-unit="px"
                        data-visible="false" data-switchable="false">Formatted Fees</th>
                    <th data-field="fees_currency" data-sortable="true" data-width="80" data-width-unit="px"
                        data-visible="false">Fees Currency</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td class="text-nowrap">{{ transaction.date }}</td>
                    <td class="text-nowrap">{{ transaction.time }}</td>
                    <td>
                        {% if transaction.buy_sell == "Buy" %}
                        <span class="green-pill">{{ transaction.buy_sell }}</span>
                        {% else %}
                        <span class="red-pill">{{ transaction.buy_sell }}</span>
                        {% endif %}
                        <br>
                        <small class="fw-lighter">{{ transaction.transaction_type }}</small>
                    </td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.formatted_price }}</td>
                    <td>{{ transaction.currency }}</td>
                    <td>{{ transaction.total }}</td>
                    <td>{{ transaction.formatted_total }}</td>
                    <td>{{ transaction.total_currency }}</td>
                    <td>{{ transaction.total_in_base_currency }}</td>
                    <td>{{ transaction.formatted_total_in_base_currency }}</td>
                    <td>{{ transaction.base_currency }}</td>
                    <td>{{ transaction.fees }}</td>
                    <td>{{ transaction.formatted_fees }}</td>
                    <td>{{ transaction.fees_currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function isTimeColumnVisible() {
        try {
            let visibleColumns = $('#transactions-table').bootstrapTable('getVisibleColumns');
            return visibleColumns && visibleColumns.some(function (col) { return col.field === 'time'; });
        } catch (e) {
            return false;
        }
    }

    function dateTimeFormatter(value, row, index) {
        if (isTimeColumnVisible()) {
            return value;
        } else {
            return value + '<br><small class="fw-lighter">' + row.time + '</small>';
        }
    }

    function isNameColumnVisible() {
        try {
            let visibleColumns = $('#transactions-table').bootstrapTable('getVisibleColumns');
            return visibleColumns && visibleColumns.some(function (col) { return col.field === 'name'; });
        } catch (e) {
            return false;
        }
    }

    function symbolNameFormatter(value, row, index) {
        if (isNameColumnVisible()) {
            return value;
        } else {
            return value + '<br><small class="fw-lighter">' + row.name + '</small>';
        }
    }

    function isCurrencyColumnVisible() {
        try {
            let visibleColumns = $('#transactions-table').bootstrapTable('getVisibleColumns');
            return visibleColumns && visibleColumns.some(function (col) { return col.field === 'currency'; });
        } catch (e) {
            return false;
        }
    }

    function isTotalCurrencyColumnVisible() {
        try {
            let visibleColumns = $('#transactions-table').bootstrapTable('getVisibleColumns');
            return visibleColumns && visibleColumns.some(function (col) { return col.field === 'total_currency'; });
        } catch (e) {
            return false;
        }
    }

    function isBaseCurrencyColumnVisible() {
        try {
            let visibleColumns = $('#transactions-table').bootstrapTable('getVisibleColumns');
            return visibleColumns && visibleColumns.some(function (col) { return col.field === 'base_currency'; });
        } catch (e) {
            return false;
        }
    }

    function isFeesCurrencyColumnVisible() {
        try {
            let visibleColumns = $('#transactions-table').bootstrapTable('getVisibleColumns');
            return visibleColumns && visibleColumns.some(function (col) { return col.field === 'fees_currency'; });
        } catch (e) {
            return false;
        }
    }
    function priceFormatter(value, row, index) {
        if (isCurrencyColumnVisible()) {
            return value;
        } else {
            return row.formatted_price;
        }
    }

    function totalFormatter(value, row, index) {
        if (isTotalCurrencyColumnVisible()) {
            return value;
        } else {
            return row.formatted_total;
        }
    }

    function totalInBaseCurrencyFormatter(value, row, index) {
        if (isBaseCurrencyColumnVisible()) {
            return value;
        } else {
            return row.formatted_total_in_base_currency;
        }
    }

    function feesFormatter(value, row, index) {
        if (isFeesCurrencyColumnVisible()) {
            return value;
        } else {
            return row.formatted_fees;
        }
    }
</script>
{% endblock %}

{% block extra_js %}
{% include 'components/bootstrap_table_sticky_header_js.html' with table_id='transactions-table' export_filename='transactions_export' %}
{% endblock %}
