<div class="row align-items-stretch border border-primary-subtle bg-light rounded mb-3 pb-3">
    <div class="col-sm diversification-chart-container">
        <canvas id="{{ chart_id }}"></canvas>
    </div>
    <div class="col-sm diversification-scrollable-list list-group mt-3">
        {% for item in items %}
            <div class="list-group-item rounded m-1">
                <div class="progress-bar-background" style="width: {{ item.weight }}%;"></div>
                <div class="diversification-weight">
                    <div class="d-flex align-items-center">
                        {% if item.product_type %}
                            <div class="ratio ratio-1x1 d-inline-flex align-items-center justify-content-center
            bg-white border border-primary rounded-circle" style="width: 2.5rem; height: 2.5rem;">
                            {% if item.product_type == 'sector' %}
                                <i class="bi bi-{{ item.symbol }} fs-4" style="display: flex; align-items: center; justify-content: center;"></i>
                            {% elif item.product_type == 'cash' %}
                                <i class="bi bi-{{ item.symbol }} fs-4" style="display: flex; align-items: center; justify-content: center;"></i>
                            {% else %}
                                <img src="{% url 'asset_logo' product_type=item.product_type|lower symbol=item.symbol|lower %}" width="30" height="30" alt="{{ item.symbol }} logo" onerror="this.style.display='none'">
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="p-2 me-auto">{{ item.name }}</div>
                    <div class="d-flex flex-column text-center">
                        <div>{{ item.formatted_size }}</div>
                        <small class="fw-lighter">{{ item.formatted_value }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
