{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
<h4 class="mb-3">Dashboard</h4>
<div id="container" style="width: 50%;">
  <canvas id="sectors-chart"></canvas>
</div>

  <!-- ChartJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0"></script>
  <!-- Import D3 Scale Chromatic via CDN -->
  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script type='text/javascript' src="/static/chromaticColors.js"></script>

  <script>
    // chromatic color data
    const dataLenght = {{ labels|length }};

    // sets d3 interpolate color range
    // See https://github.com/d3/d3-scale-chromatic
    const colorScale = d3.interpolateCool;
    const colorRangeInfo = {
      colorStart: 0,
      colorEnd: 1,
      useEndAsStart: false,
    };
    const randomColor = interpolateColors(dataLenght, colorScale, colorRangeInfo);

    let currencySymbol = "{{ currencySymbol }}";
    let valuesDict = [
      [
      {% for sector in sectors.labels %}
        {
          "label" : "{{ sector }}",
          "value" : {{ sectors.values|index:forloop.counter0 }},
        },
      {% endfor %}
      ], [
      {% for stock in stocks.labels %}
        {
          "label" : "{{ stock }}",
          "value" : {{ stocks.values|index:forloop.counter0 }},
        },
      {% endfor %}
      ],
    ];

    const data = {
      labels: {{ labels|safe }},
      datasets: [
        {
          data: {{ sectors.values }},
          backgroundColor: randomColor,
          borderWidth: 1,
        },
        {
          data: {{ stocks.values }},
          backgroundColor: randomColor,
          borderWidth: 1,
        }
      ]
    };

    const config = {
      type: 'doughnut',
      data: data,
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'bottom',
          },
          tooltip: {
            callbacks: {
              label: function(context) {
                return valuesDict[context.datasetIndex][context.dataIndex].label + ': ' + currencySymbol + valuesDict[context.datasetIndex][context.dataIndex].value;
              }
            }
          },
          title: {
            display: true,
            text: 'Sector Position Sizes',
            font: {
              size: 20
            }
          }
        }
      },
    };

    let chart = new Chart(document.getElementById("sectors-chart").getContext("2d"), config);
  </script>
{% endblock %}