<!DOCTYPE html>
<html>
<body>
<center>
<font face="Calibri">

<span style='font-size: 70px;'><titel><br>Login Here</span></title>

    <body style="background-color:rgb(96, 221, 96);"></body>

<span style='font-size: 20px;'>

    <form action="/[URL]">
        <label for="username"><br>Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password"><br>Password:</label>
        <input type="password" id="password" name="password">
        <br><br><button type="submit">Login</button>
    </form>
    


</span>
</font>
</center>
</body>
</html>