name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run common actions
        uses: ./.github/actions/common-action
      - name: Run lint check
        run: |
          poetry run ruff check

  test:
    name: Tests
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run common actions
        uses: ./.github/actions/common-action
      - name: Run tests
        run: |
          poetry run pytest