name: Build and Release SNAPSHOT

on:
  push:
    branches:
      - main

  workflow_dispatch:  # Allows manual trigger for any branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run common actions
        uses: ./.github/actions/common-action

      - name: Install GitHub CLI
        shell: bash
        if: ${{ env.ACT && runner.os == 'Linux' }}
        run: |
          (type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y)) \
          && sudo mkdir -p -m 755 /etc/apt/keyrings \
          && out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
          && cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
          && sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
          && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
          && sudo apt update \
          && sudo apt install gh -y

      - name: Build Package
        run: poetry build

      - name: Determine SNAPSHOT Version
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            BRANCH_NAME=$(echo "${{ github.ref_name }}" | tr '/' '-')
            echo "SNAPSHOT_VERSION=${BRANCH_NAME}" >> $GITHUB_ENV
          else
            echo "SNAPSHOT_VERSION=main-$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
          fi

      - name: Delete Previous SNAPSHOT Releases
        if: ${{ !env.ACT }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            TARGET_SNAPSHOT="snapshot-${{ github.ref_name }}"
          else
            TARGET_SNAPSHOT="snapshot-main-"
          fi

          gh release list --json tagName -q '.[].tagName' | grep "^$TARGET_SNAPSHOT" | while read -r release; do
            gh release delete "$release" --yes
            gh api -X DELETE /repos/ctasada/stonks-overwatch/git/refs/tags/$release
          done

      - name: Create New SNAPSHOT Release
        if: ${{ !env.ACT }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "snapshot-${SNAPSHOT_VERSION}" dist/* \
            --title "SNAPSHOT ${SNAPSHOT_VERSION}" \
            --notes "Automated SNAPSHOT release from branch '${{ github.ref_name }}'" \
            --prerelease